<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <title>WiStock - {% block title %}{% endblock %}</title>
  </head>
  <body id="{% block bodyId %}genericPage{% endblock %}">
    <header>
	    {% block headerContent %}
	    <p id="user_logout">
	    <a href="logout" class="buttonLink">logout</a>
	    </p>
	    <p id="user_profile">
	    <a href="???" class="buttonLink">profile</a>
	    </p>
	    {% endblock %}
    </header>
    <section id="content">
      {% block content %}{% endblock %}
    </section>
  </body>
</html>
