{% extends "base.html" %}

{% block title %}Bienvenue{% endblock %}

{% block bodyId %}homePage{% endblock %}

{% block content %}
<p>
In the 1996 novel, the Narrator is depicted as an average middle-class man employed at an unnamed automobile company, wherein he inspects car accidents to determine if an automobile model should be recalled. Suffering from insomnia and depression, he begins visiting support groups for people with illnesses that he is not afflicted with himself. This induces catharsis within him, enabling him to sleep. When a woman named Marla Singer begins to appear at the groups, his euphoria is broken and his insomnia returns.<br>
</p>
<p>
He meets a man named Tyler Durden while alone on a nude beach, and begins living with him after his condominium explodes due to unknown causes. The duo establish a weekly meeting known as "fight club", in which they and other men can engage in bare-knuckle fistfights. After Marla calls their residence, threatening her suicide, Tyler and Marla begin an affair that causes the Narrator to feel uneasy. Tyler initiates a cult-like organisation known as Project Mayhem in order to aggressively promote his anti-consumerist ideals, but the Narrator becomes increasingly uncomfortable with the group as its activities become more destructive.<br>
</p>
{% endblock %}
