{% extends "base_logged.html" %}

{% block title %}Bienvenue{% endblock %}

{% block bodyId %}baseLoggedPage{% endblock %}

{% block content %}
<h1>Contenu du stock</h1>
<section id="stockItems">
	<table class="center">
		<tr>
			<th>Produit</th>
			<th>Quantite</th>
			<th>DLC</th>
		</tr>
		{% for item in stockItems %}
		<tr>
			<td>{{ item.name }}</td>
			<td><div align =center>{{ item.quantity }}</div></td>
			<td>{{ item.sled }}</td>
		</tr>
		{% endfor %}
	</table>
</section>
{% endblock %}
