{% extends "base_logged.html" %}

{% block title %}Etat du stock{% endblock %}

{% block bodyId %}baseLoggedPage{% endblock %}

{% block content %}
<h1>Contenu du stock</h1>
<section id="stockItems">
	<table class="center">
		<tr>
			<th width="150px">Produit</th>
			<th width="10px"></th>
			<th width="40px">Quantite</th>
			<th width="10px"></th>
			<th width="150px">DLC</th>
			<td></td>
		</tr>
		{% for item in stockItems %}
		<tr>
			<td width="150px">{{ item.name }}</td>
			<td width="10px"><form action="main" method="get" class="inlineForm">
				<input type="hidden" name="id" value="{{ item.id }}" id="itemId" />
				<input type="hidden" name="name" value="{{ item.name }}" id="itemName" />
				<input type="hidden" name="quantity" value={{ item.quantity }} id="itemQuantity" />
				<input type="hidden" name="less" value="yes" />
				<input type="submit" value="-" />
			</form></td>
			<td width="40px"><div align=center>{{ item.quantity }}</div></td>
			<td width="10px"><form action="main" method="get" class="inlineForm">
				<input type="hidden" name="id" value="{{ item.id }}" id="itemId" />
				<input type="hidden" name="name" value="{{ item.name }}" id="itemName" />
				<input type="hidden" name="quantity" value={{ item.quantity }} id="itemQuantity" />
				<input type="hidden" name="more" value="yes" />
				<input type="submit" value="+" />
			</form></td>
			<td width="150px"><div align=center>{{ item.sled|date:'d/m/Y' }}</div></td>
			<td><form action="main" method="get" class="inlineForm">
				<input type="hidden" name="id" value="{{ item.id }}" id="itemId" />
				<input type="hidden" name="name" value="{{ item.name }}" id="itemName" />
				<input type="hidden" name="quantity" value={{ item.quantity }} id="itemQuantity" />
				<input type="hidden" name="sled" value={{ item.sled|date:'Y-m-d' }} id="itemSled" />
				<input type="hidden" name="remove" value="yes" />
				<input type="submit" value="Suppr" />
			</form></td>
		</tr>
		{% endfor %}
	</table>
	<table class="center">
		<tr>
			<form action="main" method="get" class="inlineForm">
				<td width="178px"><input type="text" name="name" id="itemName" /></td>
				<td width="70px"><input type="number" class="number" name="quantity" min="1" id="itemQuantity" /></td>
				<td width="168px"><div align=center><input type="date" name="sled" id="itemSled" /></div></td>
				<td><input type="hidden" name="add" value="yes" /><input type="submit" value="Add" /></td>
			</form>
		</tr>
	</table>
</section>
{% endblock %}
